.about-me-container {
  height: 100%;
  width: 100%;

  font-size: 1.1em;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.info-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 50%;
}

#title-name {
  font-weight: normal;
  font-size: 31px;

  margin: 0;
}

#profile-pic {
  height: auto;
  width: 180px;

  margin: 20px;
}

.profile-infos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  list-style: none;

  width: 50%;
  padding: 0;
  margin: 0;
}

.text-separator {
  color: #1f46ab;
  font-size: 30px;
}

#text-about-me {
  text-align: center;
  width: 75%;

  background-color: #040c58;
  border-top: 2px solid #1f46ab;
  border-bottom: 2px solid #1f46ab;

  padding: 8px 0px;
  margin: 20px 0;
}

.social-networks {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;

  list-style: none;

  width: 155px;
  padding: 0;

  margin-top: 20px;
  margin-bottom: 0;
}
.social-networks li img {
  width: auto;
  height: 5vh;
  margin: 0 5px;
}

@media screen and (max-width: 1280px) {
  .info-column {
    width: 100%;
    height: 100%;
  }
}
