.container {
  max-height: 300px;
  max-width: 600px;
  
  border-radius: 40px;
  padding: 0 30px;

  background: linear-gradient(
    90deg,
    #c4c4c4 -0.49%,
    #101e93 -0.49%,
    #08158f 100%
  );
  
  cursor: pointer;
}

.hided {
  display: none;
}

.info {
  display: flex;
  justify-content: center;
  width: auto;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-left: 15px;
}

.title img {
  height: auto;
  width: 3vw;

  margin-right: 15px;
}