
body {
    height: 100vh;
    width: 100vw;

    color: white;
    font-family: 'Titillium Web', sans-serif;
}

#content {
    transition: all 1s ease-out;
    transform: translate(0px);
}
#content.without-navbar {
    transform: translate(-5vw);
}