#content {
  height: 100vh;
  width: 95vw;

  color: white;
  font-family: "Titillium Web", sans-serif;

  transition: transform 1s ease-out;
}

#content.without-navbar {
  transform: translate(-5vw);
}

#content.fade-in {
  animation: fade-in 1s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
