#content {
  height: 100vh;
  width: 95vw;

  color: white;
  font-family: "Titillium Web", sans-serif;

  transition: transform 1s ease-out;
}

#content.without-navbar {
  transform: translate(-5vw);
}
