
.project-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 50%;
    width: 30%;
}

.project-container h3 {
    font-size: 1.8em;
    margin: 0;
    margin-bottom: 15px;
}


.info-back p {
    margin-top: 10px!important;
}

.project-container span {
    width: 75%;

    font-size: 1.15em;
    text-align: center;
}


@media screen and (max-width: 1300px) {
    .project-container {
        height: 65%;
        width: 80%;
        margin-bottom: 50px;

        justify-content: center;
    }

    .project-container span {
        margin-top: 30px;
    }

    .project-container h3 {
        font-size: 1.5em;
    }
}