#navbar-wrapper {
  height: 100vh;

  display: flex;
  flex-direction: row;
  align-items: center;

  transition: transform 1s ease-out;
  transform: translate(0px);
}
#navbar-wrapper.hided {
  transform: translate(-6vw);
}

nav {
  height: 100vh;
  width: 6vw;
  background: linear-gradient(
    180deg,
    #030427 0%,
    rgba(9, 10, 35, 0.25) 48.23%,
    rgba(1, 3, 52, 0.34) 100%
  );

  display: flex;
  align-items: center;
}

nav ul {
  height: 50%;
  width: 100%;

  list-style-type: none;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.nav-icon img {
  height: auto;
  width: 2.5vw;

  cursor: pointer;
}

.nav-icon span {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 1;

  font-size: 0.85em;
  color: #c0c0c0;
  background: #0f0e45;
  border: 1px solid #ffe8e8;
  border-radius: 7px;

  margin-left: 5px;
  padding: 5px;

  transition: opacity 0.35s ease-in;
}
.nav-icon:hover span {
  opacity: 1;
  visibility: visible;
}

#toggle-navbar-icon {
  position: relative;
  height: 10vh;
  width: auto;

  cursor: pointer;
}

/* Change the color of the icon representing the actual page */

.active-page {
  filter: brightness(0) saturate(100%) invert(19%) sepia(71%) saturate(2211%)
    hue-rotate(214deg) brightness(101%) contrast(96%);
}

/* Apply some opacity on icons representing the pages that are not the actual page */

.normal-page {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}
.normal-page:hover {
  opacity: 0.5;
}
