html {
  margin: 0;
  padding: 0;
  
  background: linear-gradient(91.46deg, #061178 1.24%, rgba(1, 8, 69, 0.48) 98.76%), linear-gradient(#1E1919, #1E1919);
  mix-blend-mode: normal;
}




.App {
  display: flex;
  flex-direction: row;
}