html {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  overflow-x: hidden;
  overflow-y: auto;

  background: #040c58;
  mix-blend-mode: normal;
}

.App {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Custom scroll bar */

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgb(8, 8, 88);
}

::-webkit-scrollbar {
  width: 12px;
  background-color: rgb(8, 8, 88);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(9, 57, 146);
}
