body {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  color: white;
}


/* Remove the blue background that appears when tapping on mobile */
input,
textarea,
button,
select,
img,
a {
  -webkit-tap-highlight-color: transparent;
}